# Node modules
node_modules/
frontend/node_modules/

# Build directories
dist/
build/

# Logs
logs/
*.log

# Dependency directories
bower_components/
jspm_packages/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.local
